
 .main-color{
    color:#35537d !important;
}
.main-bg{
   background-color: #35537d !important;
}
.second-color{
    color:#c97f5f !important;
}
.second-bg{
    background-color: #c97f5f !important;
}