.main-color {
  color: #4b5159 !important;
}
.main-bg {
  background-color: #4b5159 !important;
}
.second-color {
  color: #b59276 !important;
}
.second-bg {
  background-color: #b59276 !important;
}
