@charset "utf-8";@font-face{font-family:"Helvetica Neue LT";src:url(../fonts/HelveticaNeueLTW1GBd.otf);src:url(../fonts/HelveticaNeueLTW1GLt.otf);src:url(../fonts/HelveticaNeueLTW1GRoman.otf)}@font-face{font-family:logo;src:url(../fonts/Bauhaus.ttf)}@font-face{font-family:"Helvetica AR";src:url(../fonts/alfont_com_AlFont_com_helveticaneueltarabicroman1.ttf);src:url(../fonts/helveticaneuelt-arabic-55-roman.ttf)}body{color:#666;background:#f5f5f5;font-family:'Helvetica Neue LT','Helvetica AR';font-weight:400}h1,h2,h3,h4,h5,h6{color:#ffff}.w-c{color:#fff}.w-Bg{background-color:#fff}.main-c{color:#35537d}.second-c{color:#c97f5f}.main-Bg{background-color:#35537d}.second-Bg{background-color:#c97f5f}a{color:#fff7f7;transition:.3s}a:active,a:focus,a:hover{color:#ffff;outline:0;text-decoration:none}.btn:focus{box-shadow:none}ul{list-style:none}a{text-decoration:none}.container{max-width:1170px;margin:auto}.row{display:flex;flex-wrap:wrap}.align-items-center{align-items:center}.justify-content-between{justify-content:space-between}.navbar-my{padding-right:80px!important;padding-left:80px!important;}.navbar-my .navbar-nav-my{text-align:right!important;font-size:20px!important}.navbar-my .navbar-nav-my li a{color:#fff!important}@media(max-width:500px){.navbar-my{padding-right:25px!important;padding-left:15px!important}}.navbar .togler{display:none!important;border:none!important;background-color:#fff!important;border-radius:3px!important}@media (max-width:992px){.navbar .togler{display:block!important}}.about{background-color:#fff;position:relative;width:100%;padding:25px 0;text-align:right}.about .container{margin-top:0;margin-bottom:0}.about .container .text{padding:50px 80px 0}.about .container .button{width:100%;height:100px;text-align:center;margin-top:0;padding-top:20px;margin-right:80px;display:flex;justify-content:flex-start}.about .container .button button{padding:10px 20px;font-weight:700;border:none;color:#fff;margin-left:25px;box-shadow:0 0 3px #e4dede}.about .container .button button:hover{background-color:#fff;color:#c97f5f;font-weight:700;transition:all .5s ease-in-out}.about .container .button .brof{padding:10px 20px;border:none;font-weight:700;color:#35537d;margin-left:25px;background-color:#fff;border:1px solid #fdeeed;box-shadow:0 0 3px #e4dede;transition-duration:.5s}.about .container .button .brof:hover{color:#fff;margin-left:25px;background-color:#35537d;transition-duration:.5s}.about .section-header{margin-bottom:30px}.about .about-img{position:relative;height:100%}.about .about-img img{width:100%;height:100%;object-fit:cover}.about .text h1{font-size:70px;font-weight:700;color:#35537d}.about .text .text-header{font-size:30px}.about .about-text p{font-size:16px;color:#c97f5f;font-weight:700}@media(max-width:992px){.about .container .button{margin-right:50px;padding-right:30px;display:flex;justify-content:space-between}.about .text h1{font-size:50px;font-weight:700;color:#35537d}}@media (max-width:767.98px){.about{padding:40px 0;width:calc(100% - 20px);margin-left:10px;margin-right:10px}.about .container .text{padding:25px 50px}.about .about-img{margin-bottom:30px;height:auto}.about .text .text-header{font-size:20px}.about .text h1{font-size:40px;font-weight:700;color:#35537d}.about .container .button{margin-right:20px;padding-left:50px;width:90%;display:flex;justify-content:space-between}}@media(max-width:500px){.about .container .button{padding-right:20px;padding:0;width:100%;display:flex;justify-content:right}.about .container .text{padding:10px 20px;text-overflow: ellipsis;}}@media(max-width:450px){.about .container.text{padding:10px 20px;text-overflow: ellipsis;}}.fact{position:relative;width:100%;padding:20px 0;background:#edeeef}.fact .text-center{margin-top:0;margin-bottom:20px}.fact span{font-size:30px;font-weight:bolder;color:#c97f5f;margin-right:10px}.fact .col-6{display:flex;align-items:flex-start}.fact .fact-text{display:flex;justify-content:center}.fact .fact-text h2{font-size:40px;font-weight:700;text-align:center}.fact p{margin-right:15px;font-size:16px;font-weight:600;text-transform:uppercase;color:#35537d;text-align:center}.fact .fact-left{background:#edeeef}.fact .fact-left h2{color:#35537d}@media (max-width:767.98px){.fact{padding:40px 0;width:calc(100% - 20px);margin-left:10px;margin-right:10px}}@media (max-width:500.98px){.fact{margin-left:10px!important;margin-right:10px;margin-bottom:5px!important}.fact p{text-align:right}}.service{background-color:#35537d;position:relative;padding-top:50px;width:100%;padding-bottom:50px}.service h2{color:#fff!important;font-weight:bolder}.service .container .text-center{margin-top:0;margin-bottom:20px}.service .innerCard{margin-top:0;display:flex;flex-flow:row wrap;justify-content:center}.service .innerCard .card{padding:20px 50px;margin-bottom:30px;margin-right:30px;border:2px solid #fff;background-color:#35537d;width:calc(50% - 30px);align-items:center;justify-content:center;z-index:3}.service .innerCard .card img{height:100px;width:119px}@media(max-width:990px){.service{padding-top:60px;padding-bottom:60px}.service .innerCard .card{margin-bottom:30px;margin-right:30px;width:calc(50% - 30px)}}@media(max-width:770px){.FeatureContainer,.partners{margin-left:10px!important;margin-right:10px!important}.service{padding:40px 0;width:calc(100% - 20px);margin-left:10px;margin-right:10px}.service .innerCard .card{padding:20px 100px;margin-left:auto;margin-right:auto;width:100%;margin-bottom:15px}}.service .innerCard .card:hover{transition:.5s;background-color:#c97f5f}.service .card p{text-align:center;color:#f0f8ff}.service .card h5{clear:both;text-align:center}@media (max-width:500.98px){.FeatureContainer,.partners,.service{margin-left:10px!important;margin-right:10px}.service{margin-bottom:5px!important}.service .innerCard .card-body{width:300px;margin-bottom:15px}}.portfolio{position:relative;padding:45px 0}.portfolio .portfolio-container{max-height:450px;overflow:scroll}.portfolio #portfolio-flters{padding:0;margin:-15px 0 25px;list-style:none;font-size:0;text-align:center}.portfolio #portfolio-flters li,.portfolio .load-more .btn{cursor:pointer;display:inline-block;background-color:#e4e0e0;margin:5px;padding:8px 15px;color:#252323;font-size:14px;font-weight:700;border-radius:0;border:none;transition:.3s;border-bottom:2px solid #b19a9a}.portfolio #portfolio-flters li.filter-active,.portfolio #portfolio-flters li:hover{color:#fff;background-color:#35537d}.portfolio .portfolio-warp{position:relative;width:100%;text-align:center;margin-bottom:30px}.portfolio .portfolio-img{position:relative;overflow:hidden}.portfolio .portfolio-img img{width:100%;transition:.3s}.portfolio .portfolio-video{position:relative}.portfolio .portfolio-video video{width:50%;transition:.3s}.portfolio .video-text{width:50%;margin-left:auto;margin-right:auto;background:#030f27}.portfolio .video-text h3{padding:15px}.portfolio .portfolio-item:hover img{transform:scale(1.1)}.portfolio .portfolio-overlay{position:absolute;width:100%;height:100%;top:0;left:0;padding:30px;display:flex;align-items:center;justify-content:center;background:rgba(3,15,39,.7);transition:.5s;opacity:0}.portfolio .portfolio-warp:hover .portfolio-overlay{opacity:1}.portfolio .portfolio-overlay p{margin:0;color:#fff}.portfolio .portfolio-text{display:flex;align-items:center;height:60px;background:#35537d;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.portfolio .portfolio-text h3{margin:0;padding:0 15px 0 25px;width:calc(100% - 60px);font-size:20px;font-weight:700;color:#fff;text-align:center;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.portfolio .portfolio-warp a.btn{width:60px;height:60px;padding:3px 0 0 3px;display:flex;align-items:center;justify-content:center;font-size:60px;line-height:60px;font-weight:100;color:#030f27;background:#fff;border-radius:0;transition:.3s}.portfolio .portfolio-warp:hover a.btn{color:#fff;background:#35537d}@media (max-width:500.98px){.portfolio{margin-left:10px!important;margin-right:10px;margin-bottom:5px!important}.portfolio .portfolio-container{max-height:490px;overflow:scroll}.portfolio .portfolio-video video{width:100%;transition:.3s}.portfolio .video-text h3{font-size:13px}.portfolio #portfolio-flters li,.portfolio .load-more .btn{width:calc(50% - 30px)}}.feature{position:relative;background-color:#35537d;display:flex;justify-content:space-evenly}.feature .text-center{padding-top:50px;padding-bottom:0;margin:0;color:#fff}.feature .col-md-12{background:#35537d;padding-bottom:30px}.feature .col-md-12:nth-child(2n){color:#fff;background:#35537d}.feature .feature-item{padding:30px 0;align-items:center;justify-content:flex-start}.feature-icon{width:100%;text-align:center;position:relative}.feature-icon img{height:80px;z-index:6}.feature-icon img{background-size:cover}.feature .feature-text{display:block;width:100%;text-align:center;margin-top:10px}.feature .feature-text h3{margin:0 0 10px;font-family:'Helvetica AR';color:#fff;font-size:25px;font-weight:400}.feature .feature-text p{margin:0;font-family:'Helvetica AR';color:#fff;font-size:18px;font-weight:400}.feature .col-md-12:nth-child(2n) [class^=flaticon-]::before,.feature .col-md-12:nth-child(2n) h3,.feature .col-md-12:nth-child(2n) p{color:#fff}@media (max-width:992.98px){.feature{margin-left:10px!important;margin-right:10px}.featu{margin-bottom:5px!important;width:33%}}@media (max-width:500.98px){.featu{width:33%}.feature .feature-text h3{font-size:24px;font-weight:400}.feature .feature-text .qlaty{font-size:21px;font-weight:400}}@media (max-width:400.98px){.featu{margin-bottom:5px!important;width:100%}.feature .feature-text h3{font-size:24px;font-weight:400}}.partners{margin-top:50px;padding:0!important}.partners .smal{display:none}.partners .part{display:flex;justify-content:center}.partners .part img{padding:0!important;margin:10px!important;width:100%}@media (max-width:780.98px){.partners .larg{display:none}.partners .smal{display:block}}.comment{font-size:50px;display:flex;justify-content:center}.comment p{text-align:center;padding:10px;font-size:24px;font-weight:600;line-height:30px}.comment .comment-right{padding:5px;font-size:25px;float:right;color:#c97f5f}.comment .comment-right::after{content:'';clear:both}.comment .comment-left{padding:0 5px 5px 5px;color:#c97f5f;font-size:25px;float:left;margin-top:-20px}.comment .comment-left::after{content:'';clear:both}.cardComment{width:500px}.cardComment-header{padding-top:10px;max-height:100px;box-sizing:border-box;background-color:#edeeef;display:flex;flex-direction:row-reverse;justify-content:space-between}.comment .cardComment p{font-size:1rem;color:#35537d}.comment .cardComment h3{text-align:right;font-size:1.3rem;font-weight:700}.comment .cardComment h4{font-size:1.1rem;font-weight:700}.cardComment-header .content{text-align:right!important;width:50%;padding-right:5px}.cuser{width:20%;padding-right:5px;text-align:right}.steart{display:flex;width:30%}.user{font-size:60px;text-align:right}.start{padding:5px;font-size:1rem;color:#f1e20b;margin:0}@media (max-width:600.96px){.comment p{font-size:16px;font-weight:500}}@media (max-width:450.96px){.start{padding:1px;font-size:.8rem}.user{font-size:60px}.comment .cardComment p{font-size:1rem}.comment .cardComment h3{font-size:.9rem}.comment .cardComment h4{font-size:.7rem}.comment p{line-height:18px}}.contact{position:relative;width:100%;padding:45px 0}.contact .col-md-6{padding-top:30px;padding-bottom:30px}.contact .col-md-6:first-child{background:#35537d}.contact .col-md-6:last-child{background:#c97f5f}.contact .contact-info{position:relative;width:100%;padding:0 15px}.contact .contact-item{position:relative;margin-bottom:30px;padding:30px;display:flex;align-items:flex-start;flex-direction:row;border:1px solid rgba(256,256,256,.2)}.contact .contact-item [class^=flaticon-]::before{margin:0;color:#c97f5f;font-size:40px}.contact .contact-text{text-align:right;position:relative;width:auto;padding-right:20px}.contact .contact-text h2{text-align:right;color:#c97f5f;font-size:20px;font-weight:600}.contact .contact-text p{margin:0;color:#fff;font-size:16px}.contact .contact-item:last-child{margin-bottom:0}.contact .contact-form{position:relative;padding:0 15px}.contact .contact-form input{color:#fff;height:40px;border-radius:0;border-width:1px;border-color:rgba(256,256,256,.4);background:0 0}.contact .contact-form textarea{color:#fff;height:185px;border-radius:0;border-width:1px;border-color:rgba(256,256,256,.4);background:0 0}.contact .contact-form input:focus,.contact .contact-form textarea{box-shadow:none}.contact .contact-form .form-control::placeholder{color:#fff;opacity:1}.contact .contact-form .form-control::-ms-input-placeholder{color:#fff;color:#fff}.contact .contact-form .btn{padding:16px 30px;font-size:16px;font-weight:600;color:#c97f5f;background:#35537d;border:none;border-radius:0;transition:.3s}.contact .contact-form .btn:hover{color:#030f27;background:#fff}.part .contact .help-block ul{margin:0;padding:0;list-style-type:none}.startwith{margin-bottom:10px}.butt,.startwith .but{margin-top:10px;width:100%;display:flex;justify-content:center}.startwith button{align-items:center;padding:10px 20px;background-color:#35537d;color:#fff;border:none;pointer-events:none;box-shadow:0 10px 10px 0 #dbd0d0}.startwith .but a{margin:15px;width:50px}.startwith .but a:hover{transform:scale(1.5);transition:all .8 ease}.startwith .but img{width:100%}.footer{background-color:#35537d;display:flex;padding-top:10px}.footer .content{display:flex;justify-content:space-evenly}.footer .logofooter{display:flex;align-content:center;justify-content:center}.footer .logofooter img{width:200px;object-fit:cover}.footer .list{padding:0;margin:0}.footer ul{padding:0;margin:0;list-style:none}.footer ul a{margin:0;color:#fff;text-decoration:none}.footer ul a:hover{color:#ff8c00}.footer ul li{margin-bottom:10px;text-align:right;font-size:17px}.footer h4{text-align:right}.footer .contac ul li{color:#fff}.footer .contac img{width:20px;height:20px;object-fit:cover}@media (max-width:767.96px){.footer .content .item{width:100%}.footer .content{display:flex;flex-wrap:wrap}.footer h4{text-align:center;margin-top:50px}.footer .list ul{margin-top:50px}.footer ul li{text-align:center;margin-top:10px;text-decoration:none}}.text-title{font-weight:700}
.btn{
    border-radius: 0px;

}
.btn-countinue-learn{
border-color: #35537d;
padding:16px 30px;
font-weight:600;

}
.btn-primary {
    color: #fff;
    background-color: #35537d;
    border-radius: 0px;
    font-size:16px;
 }
 .main-color{
     color:#35537d !important;
 }
 .main-bg{
    background-color: #35537d !important;
 }
 .second-color{
     color:#c97f5f !important;
 }
 .second-bg{
     background-color: #c97f5f !important;
 }

.main-bg-hover{
    background-color: #35537d !important;
}

.main-bg-hover:hover{
    background-color: #c97f5f !important;
}

.nav-ar{
    left:2rem !important;
    text-align: start !important;
}

.login-a{
    padding: 10px;
    text-decoration: none !important;
}

.login-div{
    margin-right: 10%;
}

.badge-primary {
    color: #1e2024;
    background-color: white;
    border-radius: 0;
    border-bottom: 3px solid #c97f5f;
    padding: 5px;
}
.news-lg {
    overflow: hidden;
}
a.badge-primary:hover, a.badge-primary:focus {
    color: #ffffff;
    background-color: #c97f5f;

}
small, .small {
    font-size: 75%;
    font-weight: 400;
}
.section-title {
    border-left: 5px solid #35537d;
}
.text-align-ar-right
{
    text-align: right;
}
a.text-primary,.text-primary{
    color: #35537d !important;
}
.btn-primary:hover {
    color: #fff;
    background-color: #c97f5f;
    border-color: #c97f5f;
}

.border-title
{
    border-bottom: 2px solid #c97f5f;
    width: 90% !important;
}
.width-title
{
    width:fit-content ;
}
.image-card
{
    position: relative;
}

.image-card .date
{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2px 7px;
    padding-top: 4px;
    width: 100px;
    background: #c97f5f;
    color: white;
    text-align: center;
    height: 25px;
}
.title-top
{
    border-bottom: 2px solid #c97f5f;
    width: 82px;
    color: black;
}
.title-unit
{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125);
    border-radius: 0;
}
.title-unit .card-header
{
    background-color: #fff;
    border: 0px solid rgba(0,0,0,.125);
}
.card-img-top-courses
{
    width: 400px;
    height: 400px;
    /* border-radius: 169px; */
}
.fa-chevron-left
{
    color: #c97f5f;
} */
.btn-read-more-out
{
    padding: 9px 20px;
    color: #c97f5f;
    border:1px solid #c97f5f;
    background-color: #fff;
}
.info-traner
{
    border-top:5px solid #c97f5f;
}
.traner-icon
{
    font-size: 20px;
    color: #c97f5f;
}


a.text-primary,.text-primary{
    color: #35537d !important;
}
.btn-primary:hover {
    color: #fff;
    background-color: #c97f5f;
    border-color: #c97f5f;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #c97f5f;
    border-color: #c97f5f;
}
.btn-read-more
{
    font-size: 12px;
    padding: 10px 20px;
    color: #fff;
    border-color: #35537d;
    background-color: #35537d;
    font-weight: 100;
}
.title-card
{
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #c97f5f;
}

 a:hover, a:focus {
    color: #c97f5f;
    text-decoration: none;
    outline: none;
}
a.text-secondary:hover, a.text-secondary:focus {
    color: #c97f5f !important;
}
.column{
    justify-content: space-evenly;
    max-width: 700px;
    max-height: 500px;
	padding: 10px;
    margin: auto;
}

#featured{
	max-width: 430px;
	max-height: 430px;
	object-fit: cover;
	cursor: pointer;
    border: 1px solid #E4E7ED ;
}

.thumbnail-post{
	object-fit: cover;
	max-width: 180px;
	max-height: 94px;
	cursor: pointer;
	opacity: 0.5;
	margin: 5px;
    border: 1px solid black;
}

.thumbnail-post:hover{
	opacity:1;
}

.active{
	opacity: 1;
}

#slide-wrapper-post {
    width: 500px;
    display: flex;
    min-height: 100px;
    /* align-items: center; */
    max-height: 430px;
    /* padding: 16px; */

    flex-direction: column;
    margin: auto 0;
}
#slider-post{
    display: flex;
    flex-wrap: wrap;
}

#slider-post::-webkit-scrollbar {
		width: 8px;
}

#slider-post::-webkit-scrollbar-track {
    width: 0;
    display: none;
}
.title-post-color
{
    color: #35537d;
    font-weight: bold;
    font-size: 24px;
}
.title-post-color:hover
{
    color: #c97f5f;
}
.arrow{
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: .3s;
}

.arrow:hover{
	opacity: .5;
	width: 35px;
	height: 35px;
}

@media (max-width: 600px) {
    .post-page
    {
    flex-direction: column-reverse;
    }
    .column {
        /* justify-content: space-evenly; */
        max-width: 100%;
        max-height: max-content;
        padding: 10px;
        margin: auto;
        flex-direction: column;
        align-items: center;
    }

    #featured {
        width: 100%;
        height: auto;
    }
    #slide-wrapper-post {
        width: 100%;
        /* height: auto; */
        padding: 16px 0;
        flex-direction: row;
    }
    #slider-post {
        /* width: 100%; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
    }
    .thumbnail-post {
        width: auto;
        height: auto;
    }
    .img-course {
        height: 472px;
        width: 100%;
    }

    .card-courses-info
    {
        width:100%;
    }
}
.like:hover{
    color: #c97f5f;
    cursor: pointer;
}
/* end */
.card-courses
{
    width: 21rem;
}
.img-post
{
    height: 100%;
    width: 100%;
}
.post-content
{
    font-size: 16px;
    overflow: hidden;
    height: 90px;
    text-overflow: ellipsis;
    margin: 0;
    overflow-wrap: anywhere;
}
.post-content-home
{
    font-size: 16px;
    overflow: hidden;
    height: 70px;
    text-overflow: ellipsis;
    margin: 0;
    overflow-wrap: anywhere;
}

.img-course
{
    height: 300px;
    width: 335px;
}
.img-course-traner
{
    border: 2px solid #35537d;
}
.card-courses-info
    {
        width: 340px;
    }
    @media (max-width: 600px)
    {
        .img-course {
            height: 472px;
            width: 100%;
        }

        .card-courses-info
        {
            width:100%;
        }
    }
.img-post-small {
    height: 120px;
    width: auto;
    object-fit: cover;
    padding: 10px 5px;
}
.btn-subscribe{
    padding: 0.45rem 0.9rem;
    font-size: 0.9rem;
    border-radius: 0;
}
.modal-ajax{
    background: rgba(0,0,0,0.5);
}
.boxChat
{
    width: 50px;
    height: 50px;
    background:#c97f5f;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: fixed;
    /* display: none; */
    right: 30px;
    bottom: 30px;
    z-index: 100;
    border-radius: 50%;
    /* animation-duration: 0.5s; */
    transition: 0.4s;
}
.boxChat .mdi{
    margin: auto;
    color: #35537d;
}
.boxChat:hover  {
   transform: scale(1.1);




}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f8f9fa;
    background-color: #c97f5f;
    /* border-color: #dee2e6 #dee2e6 #fff; */
    border-radius: 0;
}
.print-container
{
    display: flex;
    align-content: center;
    justify-content: center;
}
.certification
{
    position: relative;

}
.certification-img
{
    width: 1000px;
    height: auto;
}
.box-cetificate
{
    width: 549px;
    position: absolute;
    top: 33%;
    right: 10%;
}
.certification .row-ar
{
    text-align: right;
    font-weight: bold;
    color: black;
    font-size: 18px;
}
.certification .row-en
{
    text-align: left;
}
.cetificate-title
{
    margin-bottom: 5px;
}
 .parcode {
    position: absolute;
    width: 96px;
    height: 96px;
    /* transform: translate(-850.5%, -699px); */
    bottom: 45.5%;
    left: 8.7%;
}
.certification .cetificate-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 453px;
    /* transform: translate(-28%, -1884.5%); */
    font-size: 13px;
    color: #506c90;
    position: absolute;
    bottom: 11%;
    right: 12%;
}
@media (max-width: 1170px) {
    .certification-img
    {
        width: 600px;
        height: auto;
    }
    .box-cetificate {
        width: 328px;
        /* transform:  translate(-20%, -282px); */
    }
    .certification .row-ar
{
    font-size: 10px;
}

.parcode {
    position: absolute;
    width: 57px;
    height: 57px;
    /* transform: translate(-860.5%, -424px); */
    bottom: 45.7%;
    left: 8.9%;
}
.certification .cetificate-footer {
    width: 273px;
    /* transform: translate(-26%, -1887%); */
    font-size: 8px;
    bottom: 12.1%;
}

}

@media (max-width: 600px) {
    .certification-img
    {
        width: 400px;
        height: auto;
    }
    .box-cetificate {
        width: 218px;
        /* transform: translate(-20%, -145%); */
        top: 34%;
    }
    .certification .row-ar
{
    font-size: 7px;
}
 .parcode {
    position: absolute;
    width: 37px;
    height: 37px;
    /* transform: translate(-885%, -299.9px); */
    bottom: 45.9%;
    left: 9%;
}
.certification .cetificate-footer {
    width: 181px;
    /* transform: translate(-27%, -2100%); */
    font-size: 5.3px;
    bottom: 13.1%;
}
}

@media print  {

    .navbar,.footer ,.copyright,.btn-print  {
        display: none;
    }
    .container
    {
        padding: 0 !important;
        margin: 0 !important;
    }
    .print-container{
        padding: 0 !important;
        margin: 0 !important;
        display: block;
    }
    .certification
    {
        padding: 0 !important;
        margin: 0 !important;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    .certification-img
    {
        width: 100%;
        height: 100%;
        -webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
        color-adjust: exact !important;                 /* Firefox 48 – 96 */
        print-color-adjust: exact !important;
        margin:0;         /* Firefox 97+, Safari 15.4+ */
        z-index: 0;
        position: relative;
    }

    .box-cetificate
    {
        width: 630px;
        /* transform: translate(-20%, -170%);} */
        /* transform: translate(-18%, -160%); */
    }

    .certification .row-ar
    {
        text-align: right;
        font-weight: bold;
        color: black;
        font-size: 22px;
    }
    .certification .row-en
    {
        text-align: left;
    }
    .cetificate-title
    {
        margin-bottom: 5px;
    }
    .parcode {
        position: absolute;
        width: 103px;
        height: 103px;
        /* transform: translate(-891.3%, -800.7px); */
        -webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
        color-adjust: exact !important;                 /* Firefox 48 – 96 */
        print-color-adjust: exact !important;
    }
    .certification .cetificate-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 500px;
        /* transform: translate(-28%, -2200%); */
        font-size: 13px;
        color: #506c90;
        bottom: 9.3%;
        right: 12.5%;
    }
@page {
        size:A4 landscape;
        padding: 0;
        margin: 0;
    }
    @page :header{
        display: none;
    }
    @page :footer{
        display: none;
    }
        }


.text-black
{
    color: black;
}



/* modal featurs courses  */
@media (min-width: 992px)
{
.modal-size-lg {
    max-width: 1000px;
}
}
.title-featurs-courses
{
    position: relative;
}
.featurs-box
{
    border-top:5px solid #c97f5f ;
    background-color: #e9ecef ;
    color:#35537d
}
.icon-circle
{
    width: 50px;
    height:50px;
     background-color:#35537d ;
}
.x-close
{
    padding: 0;
    background-color: transparent;
    border: 0;
    position: absolute;
    top: 10px;
    left: 30px;
    color: black;
    font-size: 30px;
}
 .featurs-course-next {
    right: -40px;
}
.featurs-course-prev {
    left: -45px;
}
.fs-icon-home
{
    font-size: 24px;
}
.about .about-text p
{
    font-size: 20px;
}


.carousel-indicators
{
    bottom: -50px;
}
.carousel-indicators li
{
    width: 15px;
    height: 15px;
    background-color: #c97f5f;
    border-radius: 15px;
}



.item-cardComment
{
    display: flex;
    justify-content: center;
}

.item-cardComment h3
{
    text-align: right;
    font-size: 1.1rem;
    font-weight: 700;

}
.owl-theme-box
{
    width: 500px;
    position: relative;
}
.owl-theme-box .header{
    background-color: #EDEEEF;
}
.item-cardComment h4
{
    font-size: 1.1rem;
}
.item-cardComment .info
{
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
}
.item-cardComment .comment .comment-right {
    padding: 0px 33px 5px 5px;
    font-size: 25px;
    float: right;
}
.item-cardComment .comment .comment-left {
    padding: 0 5px 5px 5px;
    color: #c97f5f;
    font-size: 25px;
    float: left;
}
.row-left
{
    text-align: left;
}
.owl-theme
{
    position: relative;
}
.owl-theme-box p {
    font-size: 1rem;
    color: #35537D;
}

.owl-theme .owl-nav [class*=owl-] {
    color: #D6D6D6;
    font-size: 14px;
    margin: 5px;
    padding: 7px 7px;
    width: 10px;
    height: 10px;
    overflow: hidden;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 14px;
    border: 0;
    outline: 0;
    margin:0 15px;

}
.owl-theme .owl-nav {
    margin-top: 10px;
    position: relative;

}
 .center-point {
    content: " ";
    color: #D6D6D6;
    font-size: 14px;
    margin: 5px;
    padding: 7px 7px;
    width: 10px;
    height: 10px;
    overflow: hidden;
    background: #35537d;
    display: inline-block;
    cursor: pointer;
    border-radius: 14px;
    border: 0;
    outline: 0;
    margin:0 15px;
    position: absolute;
    right: 45.5%;
    bottom: 9px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: #869791;
    color: #869791;
    text-decoration: none;
}
.point
{
    display: flex;
    align-items: center;
    justify-content: center;
}



.photo-gallery
{
    position: relative;
    transition: 0.5s;
    width: 350px;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
}

.photo-gallery img
{
    width: 25px;
    height: 25px;

}
.photo-gallery .box{
    height: 0%;
    bottom: -50%;
    transition: 0.5s
}
.photo-gallery:hover .box
{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #35537d63;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .photo-gallery .footer
{
    position: absolute;
    right: 0;
    background-color: transparent;
    color: #fff;
    width: 100%;
    height: auto;
    bottom: -50%;
}
.photo-gallery:hover .footer
{
    bottom: 10px;
}

.photo-gallery button
{
    background-color: transparent;
    color: #fff;
    border: 0px solid transparent;;
    padding: 10px 20px;
    transition: .5s;
}
.photo-gallery button:hover
{
    color: #c97f5f;
}